repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black]
        types_or: [markdown]
        files: \.(md|qmd)$
